@charset "UTF-8";

/*Todas as demais midias*/

/*Typical Device Breakpoints
--------------------------------
Pequenas telas: até 576px
Celular: 576px aé 768px
tablet: 768px- 992px
Desktop: 992px até 1200px
Grandes telas: 1200px e acima
*/

@media screen and (min-width: 768px) {

    span#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}